Chameleon==2.11
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.6
SQLAlchemy==0.8.0
WebOb==1.2.3
glob2==0.3
psycopg2==2.4.6
pyramid==1.4
pyramid-debugtoolbar==1.0.4
pyramid-jinja2==1.6
pyramid-tm==0.7
pyramid-webassets==0.7.1
raven==3.1.17
repoze.lru==0.6
requests==1.1.0
transaction==1.4.1
translationstring==1.1
venusian==1.0a7
-e git+git://github.com/abhijitr/webassets.git@e4804571642e05c5d9ef5f876d25cb72ed9a8c97#egg=webassets
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
