Chameleon==2.11
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
PasteDeploy==1.5.0
Pygments==1.6
SQLAlchemy==0.8.0
WebOb==1.2.3
-e git+git@github.com:abhijitr/giza.git@f07e7be42fdf72ea20c7085061116a54410c7df4#egg=giza-dev
psycopg2==2.4.6
pyramid==1.4
pyramid-debugtoolbar==1.0.4
pyramid-jinja2==1.6
pyramid-tm==0.7
pyramid-webassets==0.7.1
raven==3.1.17
repoze.lru==0.6
requests==1.1.0
transaction==1.4.1
translationstring==1.1
venusian==1.0a7
-e git+git@github.com:abhijitr/webassets.git@e4804571642e05c5d9ef5f876d25cb72ed9a8c97#egg=webassets
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
zope.sqlalchemy==0.7.2
