{% extends "shared/base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block feature %}
    <div id="landing-feature" class="feature-bg landing">
        <h1>Giza</h1>
        <h3>an opinionated skeleton for Pyramid apps</h3>

        <div class="container">
            <div id="landing-container">
                <div class="row">
                    <div class="span4">
                        <h3>1 minute setup</h3>
                    </div>
                    <div class="span4">
                        <h3>Encourages clean code</h3>
                    </div>
                    <div class="span4">
                        <h3>Production ready</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}
